{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'header.html' %}





    <div class="container title-decorated">
        <h1 style="font-size: 100px; color: rgb(25, 107, 13)" >Under Chinninambi Distributions</h1>
    </div>








        <!-- Main -->
        <div class="main" role="main">




            <!-- Page Content -->
            <section class="page-content">
                <div class="container">




                    <ul class="team-list row">
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="../brands/" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Herbal Cough Syrup</h4>
                                <!-- <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:johndoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> 
                                    <li>
                                        <i class="fa fa-skype"></i><a href="#">john_doe</a>
                                    </li>
                                </ul> -->
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    An Ayurvedic formulation for cough & cold
                                    An Ayurvedic formulation for cough and cold. Has excellent expectorant action to
                                    liquify and bring out thick, viscous, mucus (sputum). It’s alos a cough suppressant
                                    and anti-allergic properties. It does not contain Alcohol and hence suits all age
                                    groups (including Children, Pregnant Women and Lactating Mother).This has the goodness & benefits of 16 herbal extracts

                                </p>
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/products/3 (1) (1).png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Antacid</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:mikesmith@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                               <p>
                                World’s First Ayurvedic Digestive SUGAR FREE Antacid

                                Formulated by a Doctor, this is not just an Antacid but is infused with the healing properties of 21 Herbal ingredients. It is a 100% natural, herbal antacid with no side-effects. Fast acting,  it starts acting in just ten seconds. Balances the acid secretion and increases the digestive power.
                                
                               </p>

                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/CNE LOGO.png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Nilavembu Syrup</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:sashagray@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">sasha_gray</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                               
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/CNE LOGO.png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Cough Cure Mix</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                             <p>
                                The only one-of-its-kind manufactured in India 

These are made from a unique combination of 16 Ayurvedic Herbal Extracts to cure sneezing, cold and cough. 100% Herbal and natural with zero side-effects. These granules provide instant relief.

                             </p>
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Herbal Cough Drops</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:johndoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">john_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Lozenges</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:mikesmith@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Nivaran 90 Universal Pain Oil</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:sashagray@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">sasha_gray</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    Broad spectrum action from head to toe
Made from a unique blend of 8 essential volatile oils of herbal origin, it relieves all kinds of aches and pains quickly. Gentle on skin, non allergenic and free of side-effects . The non-greasy, non-sticky base does not stain and is easily water washable. Fast acting, extra cooling and with a long lasting effect.

                                </p>
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Nivaran 90 Antacid Syrup</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Memory Plus</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                              <p>
                                Contains a wonderful Herbal Extract of ‘Brahmi’,which contains 2 vital active molecules –“Bacoside A & Bacoside B”. This Bacoside component of Brahmi is responsible for brings the multiple benefits and Brahmi extract increases Nitric Oxide (NO) production in the body.

Nitric Oxide (NO) is the “Wonder Health Molecule” that controls the circulation of blood, blood pressure regulating activities of the brain, lungs, liver, kidney , stomach besides organs associated with learning , memory and improving immunity by fighting viral and bacterial infections.

                              </p>
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Memory Vita</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                              <p>
                                Memory Plus has proven efficacy as the World’s First Natural Memory Enhancer.Nowyou canenjoy the same formula and benefits in the form ofa breakfast cereal ,Memory Vita Cocoa’s.


Ideal for children, students, IT professionals and all age groups. A great snack  for  school going students with the dual benefit of instant energy,stamina and memory enhancement. Provides the sharp intellect, energy and stamina to stay ahead in a competitive world. A prestigious Ayurvedic product, formulated by a Doctor. 

                              </p> 
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Velvette Shampoo</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Velvette Sanitizer</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                
                            </div>
                        </li>
                    </ul>


                </div>
            </section>
            <!-- Page Content / End -->



        </div>
        <!-- Main / End -->





        <!-- {% include 'slider3d.html' %} -->



        {% include 'footer.html' %}
</body>

</html>