{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'header.html' %}







    <div class="site-wrapper">




        <!-- Main -->
        <div class="main" role="main">


            \

            <!-- Page Content -->
            <section class="page-content">
                <div class="container">



                    <ul class="team-list row">
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/CNE LOGO.png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Arjun</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:johndoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">john_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/CNE LOGO.png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:mikesmith@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/CNE LOGO.png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:sashagray@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">sasha_gray</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images/CNE LOGO.png' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:johndoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">john_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:mikesmith@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:sashagray@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">sasha_gray</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                        <li class="team-item col-md-3">
                            <figure class="alignnone">
                                <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Arju</h4>
                                <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                        </li>
                    </ul>


                </div>
            </section>
            <!-- Page Content / End -->

          

        </div>
        <!-- Main / End -->

    

                
        
        {% include 'slider3d.html' %}
    


    {% include 'footer.html' %}
</body>

</html>