{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
</head>

<body>
    {% include 'header.html' %}





    


    





        <!-- Main -->
        <div class="main" role="main">
            <div class="container title-decorated">
                <h1 style="font-size: 50px; color: rgb(25, 107, 13)" >Under Chinninambi Distributions</h1>
            </div>
            




            <!-- Page Content -->
            <section class="page-content">
                <div class="container">

                    


                    <ul class="team-list row">
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\cough-syrup-bot.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Herbal Cough Syrup</h4>
                                <!-- <ul class="team-social list-unstyled">
                                    <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:johndoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> 
                                    <li>
                                        <i class="fa fa-skype"></i><a href="#">john_doe</a>
                                    </li>
                                </ul> -->
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    An Ayurvedic formulation from traditional practices is formulated by a doctor using 16 different herbs makes this unique Cough syrup this cough syrup also the safest cough syrup with 0 side effects and guarantees an immediate relief from dry, wet and even smokers cough.
16 different herbs having distinct healing properties combined together make this cough syrup safe for all age groups including kids & pregnant women with 0% alcohol content and 100% relief. The syrup is 100% herbal and has 16 different herbs. It is safe to use Nivaran 90 cough syrup across all age groups

                                </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\cough-syrup-sachet.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Cough Syrup Sachet</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:mikesmith@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                               <p>
                                The syrup is 100% herbal and has 16 different herbs. 

Triphala, Myristica Fragrans Fruit, Glycyrrhiza Glabra, Myristica Fragrans, Alpinia Gaianga, Piper Cubeba, Adhatoda Vasica, Curcuma Longa, Ocimum Sanctum, Cinnamomum Camphora, Zingiber Officinate, Citrus Lemon, Saussurea Lappa, Menthus Arvensis, Cinnamomum Cassia, Navasadar, Piper Longum, Yasadha Bhasma, Saccharum Officinarum.
Goodness & Benefit of 16 Herbal Extracts
No Antihistamine
1 Cough syrup for all types of cough - Wet, Dry, smokers & Allergic cough.
                               </p>

                            </div><br>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\memoryplus.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Memory Plus</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                              <p>
                                Contains a wonderful Herbal Extract of ‘Brahmi’,which contains 2 vital active molecules –“Bacoside A & Bacoside B”. This Bacoside component of Brahmi is responsible for brings the multiple benefits and Brahmi extract increases Nitric Oxide (NO) production in the body.

Nitric Oxide (NO) is the “Wonder Health Molecule” that controls the circulation of blood, blood pressure regulating activities of the brain, lungs, liver, kidney , stomach besides organs associated with learning , memory and improving immunity by fighting viral and bacterial infections.

                              </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>

                        </ul>
                        <ul class="team-list row">

                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\memory-vita-box.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Memory Vita</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                              <p>
                                The best Ayurvedic powder that gives you instant stress relief, energy and immunity is the Memory Vita. It is a specially formulated memory enhancing powder that gives natural memory power to the children.
Our memory vita beverage is the first clinically tested and proven energy drink that increases the recalling ability and skills in children. It is the World’s first memory enhancer that has proven its efficacy. As kids find it hard to swallow a capsule or tablet, this memory vita comes in a powder format that can be easily mixed with milk and can be fed to them. Due to the addition of cocoa it comes as a memory vita cocoa beverage that children can easily relish.

                              </p> 
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\nilavembu-syrup.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Nilavembu Syrup</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:sashagray@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">sasha_gray</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    Nilavembu is a powerful Siddha and Ayurvedic herb that is utilised in practically all ayurvedic formulations that aim to protect the immune system and eliminate harmful toxins. In addition to treating various viral fevers, the bitter herb is a traditional treatment for easing physical weakness or exhaustion, strengthening appetite, promoting liver functions, improving digestion, increasing metabolism, and stimulating kidney functions. This incredibly potent bitter plant offers a significant therapy for every condition, whether it is hepatomegaly, intestinal parasites, constipation, fatty liver, loss of appetite, or blood disorders.
                                </p>
                               
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\cough-mix.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Chinninambi</span>
                                <h4 class="team-name">Nivaran 90 Cough Cure Mix</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                             <p>
                                Nivaran90 cough cure mix is made up of Ginger, Tulsi, Black pepper, Malabar Nuts, Ajwain, Conch Shells, Coriander, Long pepper, Asafoetida, Varatika, Cumin, pearl oyster, Yellow fruit Nightshade, Magnesium Silicate, Adhimadhuram, Black Salt, Alpinia, Sugar cane and Ashwagandha. All these products are 100% natural herbs so this keeps you away from common cough, cold, flu and built your immunity stronger. Nivaran90 cough cure mix are formulated by the combination of 16 herbs. This is most effective for analgesic, antipyretic, expectorant and anti-inflammatory thus accounting for immediate and long-lasting relief from flu, cold and cough.

                             </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="team-list row">
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\cool-cool.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Nivaran Cool Cool Oil</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:johndoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">john_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                               <p>
                                Nivaran cool cool oil is a herbal hair oil, a mixture of perfect 9 active herbs. For hair fall control, massage, and relief from stress to relax you and make you feel like heaven. It carries sufficient nutrients of Piper cubeba, Mentha piperita, Mentha, Hibiscus rosa, and many more.The best hair oil for hair growth and hair thickness.
                               </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\Lonzes.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Lozenges</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:mikesmith@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                               <p>
                                Nivaran90 cough cure lozenges are a unique blend of herbal ingredients, formulated  by a doctor to relieve your sore throat, blocked nose & cough immediately - anytime, anywhere. Easy to carry and consume lozenges are a one of a kind that is made with an ayurvedic formulation by a doctor with all natural ingredients.

                               </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\Pain oill 1.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Nivaran 90 Universal Pain Oil</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:sashagray@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">sasha_gray</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    Broad spectrum action from head to toe
Made from a unique blend of 8 essential volatile oils of herbal origin, it relieves all kinds of aches and pains quickly. Gentle on skin, non allergenic and free of side-effects . The non-greasy, non-sticky base does not stain and is easily water washable. Fast acting, extra cooling and with a long lasting effect.

                                </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>

                    </ul>

                    <ul class="team-item row">
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\antacid.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Nivaran 90 Antacid Syrup</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    Nivaran 90 antacid syrup is the first Digestive SUGAR FREE syrup for all age groups. It gives you instant relief anywhere and anytime. The 21 herbal ingredients balances the acid secretion and increases the digestive power. This is the best digestive syrup that can be used for all age group adults and children above 12 years. Nivaran 90 antacid syrup is the world's best herbal digestive syrup with 21 herbal ingredients which starts its action in 10 seconds and lasts for 24 hours. 
                                </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                     
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\Shikkai 1.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Velvette Shikkai</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                                malesuada vestibulum.<br>
                                Suspendisse risus felis, pellentesque eget iaculis eu, venenatis fermentum velit. Sed
                                volutpat vulputate quam, et convallis nulla varius eget. Ut in interdum leo.
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                        <li class="team-item col-md-4">
                            <figure class="alignnone">
                                <a href="#"><img src="{% static 'images\brand-products\kabasura-sachet.jpg' %}" alt=""></a>
                            </figure>
                            <header class="team-head">
                                <span class="team-head-info">Sujatha biotech</span>
                                <h4 class="team-name">Kabasura Sachet</h4>
                                <ul class="team-social list-unstyled">
                                    <!-- <li>
                                        <i class="fa fa-envelope-o"></i><a
                                            href="mailto:hannadoe@dan-fisher.com">arjun@chinninambi@gmail.com</a>
                                    </li> -->
                                    <!-- <li>
                                        <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                                    </li> -->
                                </ul>
                            </header>
                            <div class="team-excerpt">
                                <p>
                                    Nivaran90 Kabasura syrup is a traditional herbal formulation developed with a mix of 18 different herbs made by a doctor for immunity boosting and fighting against viral infections such as - Fever, Cold, Cough and difficulty in Breathing. The sweet kabasura formulation by Nivaran90 makes it a one of a kind in its category that is easily palatable for any age group and it’s ease of being in a syrup form makes it the preferred choice.
                                </p>
                            </div>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-default">Read More</a>
                            </div>
                        </li>
                    </ul>


                </div>
            </section>
            <!-- Page Content / End -->



        </div>
        <!-- Main / End -->





        <!-- {% include 'slider3d.html' %} -->



        {% include 'footer.html' %}
</body>

</html>