{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="site-wrapper">
		


		<!-- Main -->
		<div class="main" role="main">

		

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">

					<div class="row">
						<div class="col-md-6">
							<figure class="alignnone">
								<img src="{% static 'images/CNE LOGO.png' %}" alt="">
							</figure>
						</div>
						<div class="col-md-6">
							<h2>About Chinninambi</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc.</p> 

							<p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. Phasellus venenatis ligula in faucibus consequat. Aliquam dictum nulla eu varius porta. Maecenas congue dui id posuere fermentum. Morbi at iaculis nibh, at semper augue.</p>

							<!-- <div class="spacer-sm"></div>
							
							<a href="#" class="btn btn-default">Read More</a> -->
						</div>
					</div>

					<hr class="lg">

					<div class="row">
						<div class="col-md-4">
							<div class="title-accent">
								<h2>Our Mission</h2>
							</div>
							<span class="dropcap dropcap__rounded">1</span>
							<h6>Lorem Ipsum Dolor Sit Amet</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>

							<div class="spacer-sm"></div>

							<span class="dropcap dropcap__rounded">2</span>
							<h6>Donec fermentum eros</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>

							<div class="spacer-sm"></div>

							<span class="dropcap dropcap__rounded">3</span>
							<h6>Praesent ante</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
						</div>
						<div class="col-md-4">
							<hr class="visible-sm visible-xs lg">
							<div class="title-accent">
								<h2>Our Philosophy</h2>
							</div>
							<h6 class="text-muted">Fusce fringilla porttitor iaculis. Sed quam libero, adipiscing sed erat id, euismod nunc.</h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet,</p> 

							Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. Phasellus venenatis ligula in faucibus consequat. Aliquam dictum nulla eu varius porta. Maecenas congue.
						</div>
						<div class="col-md-4">
							<hr class="visible-sm visible-xs lg">
							<div class="title-accent">
								<h3>Our Marketing Strategy</h3>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
									<span class="progress-label">Distributions</span>
									80%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
									<span class="progress-label">Branding &amp; Identity</span>
									70%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									<span class="progress-label">Direct Marketing</span>
									60%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
									<span class="progress-label">Online Marketing</span>
									90%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
									<span class="progress-label">Top Level</span>
									70%
								</div>
							</div>
						</div>
					</div>

					<hr class="lg">

					<div class="title-accent">
						<h3>Our Team</h3>
					</div>
					<ul class="team-list row">
						<li class="team-item col-md-3">
							<figure class="alignnone">
								<a href="#"><img src="http://placehold.it/258x258" alt=""></a>
							</figure>
							<header class="team-head">
								<span class="team-head-info">CEO</span>
								<h4 class="team-name">Mr. Arjun Rajkumar</h4>
								<ul class="team-social list-unstyled">
									<li>
										<i class="fa fa-envelope-o"></i><a href="mailto:johndoe@dan-fisher.com">arjun@chinninambi.com</a>
									</li>
									<!-- <li>
										<i class="fa fa-skype"></i><a href="#"></a>
									</li> -->
								</ul>
							</header>
							<div class="team-excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. 
							</div>
						</li>
						<li class="team-item col-md-3">
							<figure class="alignnone">
								<a href="#"><img src="http://placehold.it/258x258" alt=""></a>
							</figure>
							<header class="team-head">
								<span class="team-head-info">Marketing Head</span>
								<h4 class="team-name">Mr. X</h4>
								<ul class="team-social list-unstyled">
									<li>
										<i class="fa fa-envelope-o"></i><a href="mailto:mikesmith@dan-fisher.com">mrx@gmail.com</a>
									</li>
									<!-- <li>
										<i class="fa fa-skype"></i><a href="#">mike_smith</a>
									</li> -->
								</ul>
							</header>
							<div class="team-excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. 
							</div>
						</li>
						<li class="team-item col-md-3">
							<figure class="alignnone">
								<a href="#"><img src="http://placehold.it/258x258" alt=""></a>
							</figure>
							<header class="team-head">
								<span class="team-head-info">Brand Manager</span>
								<h4 class="team-name">Lavanya</h4>
								<ul class="team-social list-unstyled">
									<li>
										<i class="fa fa-envelope-o"></i><a href="mailto:sashagray@dan-fisher.com">lavanya@gmail.com</a>
									</li>
									<!-- <li>
										<i class="fa fa-skype"></i><a href="#">sasha_gray</a>
									</li> -->
								</ul>
							</header>
							<div class="team-excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. 
							</div>
						</li>
						<li class="team-item col-md-3">
							<figure class="alignnone">
								<a href="#"><img src="http://placehold.it/258x258" alt=""></a>
							</figure>
							<header class="team-head">
								<span class="team-head-info">Export Manager</span>
								<h4 class="team-name">Saravanan</h4>
								<ul class="team-social list-unstyled">
									<li>
										<i class="fa fa-envelope-o"></i><a href="mailto:hannadoe@dan-fisher.com">saravanan@gmail.com</a>
									</li>
									<!-- <li>
										<i class="fa fa-skype"></i><a href="#">hanna_doe</a>
									</li> -->
								</ul>
							</header>
							<div class="team-excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. 
							</div>
						</li>
					</ul>

				</div>
			</section>
			<!-- Page Content / End -->


			
		</div>
		<!-- Main / End -->
	</div>
    {% include 'footer.html' %}
</body>
</html>