{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- <style>
	.fadeinout
{
  animation: fadeinout 4s infinite;
}

@keyframes fadeinout
{
  0%{
    opacity:0;
  }
  50%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}
	</style> -->

	<style>
	
*{
	margin: 0;
	padding: 0;
}



		.ba{
			background-color: rgba(47,71,65,255);
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
			
			margin: 70% -100% 70% -100%;
	padding: 20% 100% 0 100%;
	background-position: 0 0;
	
	-webkit-background-size: cover;
	
	position: relative;
	
		}
		.viba{
			background-color: rgba(47,71,65,255);
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
			margin: 70% -100% 70% -100%;
	padding: 0 100% 0 100%;
	
	background-position: 0 0;
	
	-webkit-background-size: cover;
	
	position: relative;
		}
		.value{
			background-image: url('../static/images/backgroundimages/local-brands.webp');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
			
			/* margin: 70% -100% 70% -100%;
	padding: 20% 100% 0 100%; */
	background-position: 0 0;
	
	-webkit-background-size: cover;
	
	position: relative;
	
		}

		.manage{
			background-image: url('../static/images/backgroundimages/pexels-pixabay-268976.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
			
			/* margin: 70% -100% 70% -100%;
	padding: 20% 100% 0 100%; */
			background-position: 0 0;
	
			-webkit-background-size: cover;
	
			position: relative;
		}
		
	</style>
</head>

<body>
	{% include 'header.html' %}



		<!-- Main -->
		<div class="main" role="main">



			<!-- Page Content -->
			<section class="page-content" class="gap">
				<div class="container">

					{% include 'keyframanimation.html' %}
					</div>
<section class="viba">
					<div class="row">
						<div class="col-md-6">
						<p style="font-size: 89%; font-weight: 70; justify-content: center; color: #f4d3b3;  padding-top: 50%; padding-left: 50%; font-family: 'Bungee Spice', cursive, sans-serif; margin: 100%;">Our <br>vision</p>
					</div>
						<div class="col-md-6">
							


							<p style=" color: rgb(255, 255, 255); margin: 100%; padding-top: 100%; padding:50%;">To build a premier, world-class organization in order to cater to the needs of the common man.

								Manoeuvring the human resources with innovation, integrity, credibility, quality, and quantitative values.
								
								To revive the historic significance of a hale and a healthy individual and systematically align the standards, built at the optimum level.
								
								Ensuring and achieving fundamental steps in building a community to establish an exclusive, and elevated standard of healthcare.
								
								
							</p>
						</div>
							<!-- <div class="col-md-3">
								<figure>
								
									<img src="../static/images/backgroundimages/Untitled-1 copy.png">
								</figure>
							</div> -->

							<!-- <div class="spacer-sm"></div>
							
							<a href="#" class="btn btn-default">Read More</a> -->
						
					</div>
					<div class="row">
						<div class="col-md-6">
						<p style="font-size: 89%; font-weight: 70; justify-content: center; color: #f4d3b3;   padding-left: 50%; padding-top: 30%; font-family: 'Bungee Spice', cursive, sans-serif; margin: 100%;">Our<br> Mission</p>
					</div>
						<div class="col-md-6">
							


							<p style="color: rgb(255, 255, 255); margin: 100%; padding-top: 100%; padding:50%; padding-bottom: 20%;">
								To source value-added products built with our heritage and upgrade them to today's standards. To make it available to consumers from different walks of life. To set state of art standards for products packaging, distribution, E-commerce and innovative and new marketing methods and tools.
								
								</p>
						</div>
							<!-- <div class="col-md-3">
								<figure>
								
									<img src="../static/images/backgroundimages/Untitled-1 copy.png">
								</figure>
							</div> -->

							<!-- <div class="spacer-sm"></div>
							
							<a href="#" class="btn btn-default">Read More</a> -->
						
					</div>
				
					<!-- <section class="ba">
						<h2 style="font-size: 54%; text-align: center; color: rgb(73, 225, 242);">Our Mission</h2>
						<div class="row">
							<div>
								<figure class="alignnone">
									<img src="{% static 'images/backgroundimages/Mission-Free-Download-PNG.png' %}" alt="">
								</figure>
							</div> 

						</div>
						<div class="row">
							
							<p style="padding-bottom: 200%; color: rgb(255, 255, 255); margin: 30%;">To build a premier, world-class organization in order to cater to the needs of the common man.

								Manoeuvring the human resources with innovation, integrity, credibility, quality, and quantitative values.
								
								To revive the historic significance of a hale and a healthy individual and systematically align the standards, built at the optimum level.
								
								Ensuring and achieving fundamental steps in building a community to establish an exclusive, and elevated standard of healthcare.
								
								
							</p>
						</div>
					 <div class="row"> -->
							


							
						<!-- </div> -->
							

							<!-- <div class="spacer-sm"></div>
							
							<a href="#" class="btn btn-default">Read More</a> -->
						
					<!-- </div> -->
				

					<!-- <div class="row">
						<div class="col-md-6">
							<figure class="alignnone">
								<img src="{% static 'images/CNE LOGO.png' %}" alt="">
							</figure>
						</div>
						<div class="col-md-6">
							<h2>Our vision</h2>


							<p>To build a premier, world-class organization in order to cater to the needs of the common man.

								Manoeuvring the human resources with innovation, integrity, credibility, quality, and quantitative values.
								
								To revive the historic significance of a hale and a healthy individual and systematically align the standards, built at the optimum level.
								
								Ensuring and achieving fundamental steps in building a community to establish an exclusive, and elevated standard of healthcare.
								
								
							</p>

							 <div class="spacer-sm"></div>
							
							<a href="#" class="btn btn-default">Read More</a> -->
						<!-- </div>
					</div>  -->
                 <!-- <section>
					<h2 style="text-align: center;">Our Core Values</h2>
					<div class="row">
						<div class="col-md-6">
							<figure class="alignnone">
								<img class="fadeinout" src="{% static 'images/CNE LOGO.png' %}" alt="">
							</figure>
						</div>
						<div class="col-md-6">
							


							<p>To build a premier, world-class organization in order to cater to the needs of the common man.

								Manoeuvring the human resources with innovation, integrity, credibility, quality, and quantitative values.
								
								To revive the historic significance of a hale and a healthy individual and systematically align the standards, built at the optimum level.
								
								Ensuring and achieving fundamental steps in building a community to establish an exclusive, and elevated standard of healthcare.
								
								
							</p>

							 <div class="spacer-sm"></div>
							
							<a href="#" class="btn btn-default">Read More</a> -->
						<!-- </div>
					</div>
					
					

					

					

					

					
			
				</section>  -->
					
						<!-- <div class="col-md-4">
							<hr class="visible-sm visible-xs lg">
							<div class="title-accent">
								<h2>Our Mission</h2>
							</div>
							 <h6 class="text-muted">Fusce fringilla porttitor iaculis. Sed quam libero, adipiscing sed
								erat id, euismod nunc.</h6> -->
							<!-- <p>To source value-added products built with our heritage and
								upgrade them to today's standards.
							</p> -->

							<!-- <div class="spacer-sm"></div> -->

							<!-- <span class="dropcap dropcap__rounded">3</span>
								<h6>Praesent ante</h6> -->
							<!-- <p>To make it available to consumers from different walks of life.

							</p> -->

							<!-- <div class="spacer-sm"></div> -->

							<!-- <span class="dropcap dropcap__rounded">3</span>
								<h6>Praesent ante</h6> -->
							<!-- <p>To set state of art standards for products packaging,
								distribution, E-commerce and innovative and new marketing methods and tools.


							</p> -->


						<!-- </div> -->
						<!-- <div class="col-md-4">
							<hr class="visible-sm visible-xs lg">
							<div class="title-accent">
								<h3>Our Marketing Strategy</h3>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
									aria-valuemax="100" style="width: 90%;">
									<span class="progress-label">Distributions</span>
									90%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
									aria-valuemax="100" style="width: 95%;">
									<span class="progress-label">Branding &amp; Identity</span>
									95%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									aria-valuemax="100" style="width: 60%;">
									<span class="progress-label">Direct Marketing</span>
									60%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
									aria-valuemax="100" style="width: 90%;">
									<span class="progress-label">Online Marketing</span>
									90%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
									aria-valuemax="100" style="width: 70%;">
									<span class="progress-label">Top Level</span>
									70%
								</div>
							</div>
						</div>	 -->
            <section class="value">
						<div class="row">
							<h2 style="font-size: 54%; text-align: center; color: #f4d3b3;">Our Core Values</h2>
							<div class="col-md-6">
								<div class="title-accent">
										<figure class="alignnone">
											<img src="../static/images/backgroundimages/our-core-values-symbol-concept-words-wooden-blocks-beautiful-grey-background-business-copy-space-226236400.webp" alt="">
										</figure>
									</div>
	
							</div>

						<div class="col-md-6">
						
							<!-- <span class="dropcap dropcap__rounded">1</span>
							<h6>Lorem Ipsum Dolor Sit Amet</h6> -->
							<p style="color: white; padding-top: 50%;">Delivering products that would be the front

								runners in the herbal sector.
							</p>

							<!-- <div class="spacer-sm"></div> -->

							<!-- <span class="dropcap dropcap__rounded">2</span>
							<h6>Donec fermentum eros</h6> -->
							<p style="color: white;">Instigating a thriving business that maintains a balance
								between environmental and social health arc.
							</p>

							<!-- <div class="spacer-sm"></div> -->

							<!-- <span class="dropcap dropcap__rounded">3</span>
							<h6>Praesent ante</h6> -->
							<p style="color: white;">We vouch for fair trade in all our endeavours, profits,

								and dealings.
							</p>

							<!-- <div class="spacer-sm"></div> -->

							<!-- <span class="dropcap dropcap__rounded">3</span>
							<h6>Praesent ante</h6> -->
							<p style="color: white;">Establishing a stable, qualitative business that would mark
								a significant amount of change globally, and put Ayurveda

								in the highest ranking.

							</p>

						</div>
					</div>
				</section>

				<section class="manage">
					<div>
						<h2 style="color: #f4d3b3; text-align: center; font-size: 90%; font-weight: 20%; font-weight: bold;">Values & Beliefs</h2>
					</div>
					<div>
						<p style="color: rgb(250, 250, 250); text-align: center; font-family: 'Timmana', sans-serif; margin: 50%;">
							Successful organizations are founded on strong value systems. Chinni Nambi has the following 6 Values <br> based on which all interactions within and outside the organization takes place
						</p>
					</div>
					<div class="row">
						
						<div class="col-md-6 ">
						
							<h3 style="font-size: 50%; padding: 50%; margin: 50%; margin-top: 90%;
							font-weight: 70%; text-align: center;
color: rgb(229, 243, 29); font-family: cursive;">1. Behaviour</h3>
</div>
<div class="col-md-6">
							<p style="padding: 70%; margin: 70%; color: white; font-family: 'Timmana', sans-serif; justify-content: center;">
								We uphold highest standards of business ethics and corporate governance. We are honest and candid in all our interactions. We demonstrate integrity both individually and collectively.
							</p>
						</div>
						
						</div>
						<div class="row">
							<div class="col-md-6">
								<p style="padding: 70%; margin: 70%; color: white; font-family: 'Timmana', sans-serif; justify-content: center;">
									We stand out by excelling in execution. We demonstrate quality with speed. We are intolerant to mediocrity. We embrace technology to gain competitive advantage. We upskill, learn and coach to improve continuously.
								</p>
							</div>
						<div class="col-md-6">
						
							<h3 style="font-size: 50%; padding: 50%; margin: 50%; margin-top: 90%;
							font-weight: 70%; text-align: center;
color: rgb(229, 243, 29); font-family: cursive;">2. Excellence</h3>
</div>

						
						</div>
						<div class="row">
						
							<div class="col-md-6">
							
								<h3 style="font-size: 50%; padding: 50%; margin: 50%; margin-top: 90%;
								font-weight: 70%; text-align: center;
	color: rgb(229, 243, 29); font-family: cursive;">3. Innovation</h3>
	</div>
	<div class="col-md-6">
								<p style="padding: 70%; margin: 70%; color: white; font-family: 'Timmana', sans-serif; justify-content: center;">
									We make it simple for consumers. Simplicity gets results. We differentiate to delight. We believe scarcity breeds innovation. It’s costly not to innovate.
								</p>
							</div>
							
							</div>
						
							<div class="row">
								<div class="col-md-6">
									<p style="padding: 70%; margin: 70%; color: white; font-family: 'Timmana', sans-serif; justify-content: center;">
										We are curious to learn. We are open to ideas from anywhere. We value critique from all stakeholders. We embrace diversity.
									</p>
								</div>
							<div class="col-md-6">
							
								<h3 style="font-size: 50%; padding: 50%; margin: 50%; margin-top: 90%;
								font-weight: 70%; text-align: center;
	color: rgb(229, 243, 29); font-family: cursive;">4. OPENNESS</h3>
	</div>
	
							
							</div>
							<div class="row">
						
								<div class="col-md-6">
								
									<h3 style="font-size: 50%; padding: 50%; margin: 50%; margin-top: 90%;
									font-weight: 70%; text-align: center;
		color: rgb(229, 243, 29); font-family: cursive;">5. OWNERSHIP</h3>
		</div>
		<div class="col-md-6">
									<p style="padding: 70%; margin: 70%; color: white; font-family: 'Timmana', sans-serif; justify-content: center;">
										We take accountability both individually and collectively. We don’t offer excuses. We have a high stake in company’s well-being.
									</p>
								</div>
								
								</div>
						
								<div class="row">
									<div class="col-md-6">
										<p style="padding: 70%; margin: 70%; color: white; font-family: 'Timmana', sans-serif; justify-content: center;">
											We dare to think big and bold. We think out of the box. We break barriers otherwise thought impossible.
										</p>
									</div>
								<div class="col-md-6">
								
									<h3 style="font-size: 50%; padding: 50%; margin: 50%; margin-top: 90%;
									font-weight: 70%; text-align: center;
		color: rgb(229, 243, 29); font-family: cursive;">6. THINK BIG</h3>
		</div>
		
								
								</div>
						
					</div>
					

					<!-- <div class="title-accent">
						<b><h2 style="text-align: center; font-size: 40%; font-weight: 100; color: rgb(247, 243, 27);">Management</h2></b>
					</div> -->
					<!-- <ul class="team-list row">
						<li class="team-item col-md-6">
							<figure class="alignnone">
								<a href="#"><img src="../static/images/personalprofiles/AR-LATEST.webp" alt=""></a>
							</figure>
							<header class="team-head">
								<h2><span class="team-head-info" style="text-align: center; color: white;">CEO</span></h2>
								<h4 class="team-name" style="text-align: center; color: white;">Mr. Arjun Rajkumar</h4>
								<ul class="team-social list-unstyled">
									<li style="text-align: center;">
										<i class="fa fa-envelope-o"></i><a style="color: white;"
											href="mailto:johndoe@dan-fisher.com">arjun@chinninambi.com</a>
									</li>
									
								</ul>
							</header>
							<div class="team-excerpt">
								<p style="color: white; margin: 10%;">Coming from a family of Entrepreneurs, Mr.
									Arjun Rajkumar, an efficient persona par
									excellence, needless to say, is hardworking
									and a talented youngster, with a steer and
									clear vision of taking the company to a higher
									level. Having graduated from SRM, and
									majoring in Viscom communication, Mr. Arjun
									simultaneously launched BLUEGRASS
									which later evolved into a studio, with
									recurring photoshoots or so. Not only that, he
									has been part of some of the grandeur
									events and expanded to do ad films and
									photoshoots Velvette, Cavin Kare, Naturals,
									etc, and has gained immense praise and rich
									experience by collaborating and working with
									these Stalwarts Created commercials for
									Frooti, Naturals, CK bakery, CSK, and
									Kavalan.
									More feathers were added to his cap when he had the opportunity to attend a
									global workshop by Empretecar Geneva and ended up winning the same. He
									attended the prestigious summer school at Harvard on Finance and Marketing,
									thereby gaining global exposure to his credit, and not to forget, he had also
									enrolled for a course on film production at ULCA School, TFT. Adding to this,
									He is also part of NIFT Academy teaching students. He, along with his
									colleagues runs BEK Media.
									Mr. Arjun considers his father to be his greatest inspiration and role model.
									Being the innovator of sachet concepts, he is a genius, a known player in
									developing new ideas and new avenues, he has developed E-commerce and
									digital marketing of the products. He works on have been increasing the
									distribution channels in wholesale and retail, modern outlets government sector
									and other institutions. Now he is hoping to expand nationally and internationally,
									straight out in the global market.</p>
							</div>
						</li>
						<li class="team-item col-md-6">
							<figure class="alignnone">
								<a href="#"><img src="../static/images/personalprofiles/KRISHIKA-_1_1.webp" alt=""></a>
							</figure>
							<header class="team-head">
								<h2><span class="team-head-info" style="text-align: center;color: white;">COO</span></h2>
								<h4 class="team-name" style="text-align: center; color: white;">Mrs.Krishika</h4>
								<ul class="team-social list-unstyled">
									<li style="text-align: center;">
										<i class="fa fa-envelope-o"></i><a style="color: white;"
											href="mailto:mikesmith@dan-fisher.com">krishika@gmail.com</a>
									</li>
									
								</ul>
							</header>
							<div class="team-excerpt">
								<p style="color: white; margin: 10%;">
									Sister of Arjun Rajkumar, Krishika, a
									vibrant, talented, and extraordinarily
									skilled persona, graduated in Business
									Administration, Diploma in Hotel
									Management from Hotel Academy
									Chennai and the house of Days inn. She
									was credited for having an amazing

									caliber in management and her hands-
									on experience in the front office,

									accounts, production, hospitality, and
									housekeeping during her internship at
									ITC Park Sheraton Towers Chennai was
									unabashedly applauded. She pursued a
									passion for making chocolates at home
									and also did a workshop course in
									chocolate manufacturing at SanFransico
									USA. Perfection is her middle name, and
									as thorough and skilled she likes to be in
									whatever she persists, she decided to
									carve her professional arc and has taken
									courses in bakery and confectionery.
									A successful entrepreneur with a restaurant, she was securing places and
									marking her business aura before COVID. However, she still has her home
									bakery unit in the banner of Kichees Delights. She is ably supported by her
									husband, who is a Senior Manager at Bank of America by profession.
									Coming from a family of successful go-getters, it’s obvious when you grow into
									one. By seeing her parents, brother and uncles running a business, she’s learnt
									quite a few tricks as well.
									However, she learnt from her father that innovation is the key to success and
									there is no compromise on quality.
									Currently, she is responsible for the Back office and Administration of the
									organisation.
								</p>
							</div>
						</li>
						
						
					</ul> -->

				
			
				
			
			
			<!-- Page Content / End -->



		
		<!-- Main / End -->
	
	{% include 'footer.html' %}
</body>

</html>