{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contacts | Responsive HTML5 Template</title>
	<meta name="description" content="Stability - Responsive HTML5 Template - 1.8.1">
	<meta name="author" content="http://themeforest.net/user/dan_fisher">
    <style>
          @media only screen and (max-width: 1600px) {
img {
width: 100%;
}
}
       .manage{
			background-image: url('../static/images/patterns/retina_wood.png');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            width: auto;
           
            
			
			/* margin: 70px -100% 70px -100%;
	padding: 20% 100% 0 100%; */
	/* background-position: 0 0; */
	
	-webkit-background-size: cover;
	
	position: relative;
		}

        .cfo{
			background-image: url('../static/images/patterns/shattered.png');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            width: auto;
            
			
			/* margin: 70px -100% 70px -100%;
	padding: 20% 100% 0 100%; */
	background-position: 0 0;
	
	-webkit-background-size: cover;
	
	position: relative;
		}
    </style>
    </head>

<body>
    {% include 'header.html' %}


    <section class="manage">
        <div class="row">

        <div class="title-accent">
            <b><h2 style="text-align: center; font-size: 40px; font-weight: 100; color: rgb(247, 243, 27);">Management</h2></b>
        </div>
        <ul class="team-list row">
            <li class="team-item">
                <figure class="alignnone">
                    <a href="#"><img  src="../static/images/personalprofiles/AR-LATEST.webp" alt=""></a>
                </figure>
                <header class="team-head">
                    <h2><span class="team-head-info" style="text-align: center; color: rgb(16, 110, 22)">CEO</span></h2>
                    <h4 class="team-name" style="text-align: center; color: rgb(16, 110, 22)">Mr. Arjun Rajkumar</h4>
                    <ul class="team-social list-unstyled">
                        <li style="text-align: center;">
                            <i class="fa fa-envelope-o"></i><a style="color: rgb(16, 110, 22)"
                                href="mailto:johndoe@dan-fisher.com">arjun@chinninambi.com</a>
                        </li>
                        <!-- <li>
                            <i class="fa fa-skype"></i><a href="#"></a>
                        </li> -->
                    </ul>
                </header>
                <div class="team-excerpt">
                    <p style="color: rgb(16, 110, 22); margin: 30px;padding: 20px; justify-content: center;">Coming from a family of Entrepreneurs, Mr.
                        Arjun Rajkumar, an efficient persona par
                        excellence, needless to say, is hardworking
                        and a talented youngster, with a steer and
                        clear vision of taking the company to a higher
                        level. Having graduated from SRM, and
                        majoring in Viscom communication, Mr. Arjun
                        simultaneously launched BLUEGRASS
                        which later evolved into a studio, with
                        recurring photoshoots or so. Not only that, he
                        has been part of some of the grandeur
                        events and expanded to do ad films and
                        photoshoots Velvette, Cavin Kare, Naturals,
                        etc, and has gained immense praise and rich
                        experience by collaborating and working with
                        these Stalwarts Created commercials for
                        Frooti, Naturals, CK bakery, CSK, and
                        Kavalan.
                        More feathers were added to his cap when he had the opportunity to attend a
                        global workshop by Empretecar Geneva and ended up winning the same. He
                        attended the prestigious summer school at Harvard on Finance and Marketing,
                        thereby gaining global exposure to his credit, and not to forget, he had also
                        enrolled for a course on film production at ULCA School, TFT. Adding to this,
                        He is also part of NIFT Academy teaching students. He, along with his
                        colleagues runs BEK Media.
                        Mr. Arjun considers his father to be his greatest inspiration and role model.
                        Being the innovator of sachet concepts, he is a genius, a known player in
                        developing new ideas and new avenues, he has developed E-commerce and
                        digital marketing of the products. He works on have been increasing the
                        distribution channels in wholesale and retail, modern outlets government sector
                        and other institutions. Now he is hoping to expand nationally and internationally,
                        straight out in the global market.</p>
                </div>
            </li>
        </div>
        </section>
        <section class="cfo">
        <div class="row"> 
            <li class="team-item">
                <figure class="alignnone">
                    <a href="#"><img src="../static/images/personalprofiles/KRISHIKA-_1_1.webp" alt=""></a>
                </figure>
                <header class="team-head">
                    <!-- <h2><span class="team-head-info" style="text-align: center;color: rgb(16, 110, 22);">COO</span></h2> -->
                    <h4 class="team-name" style="text-align: center; color: rgb(16, 110, 22)">Mrs.Krishika - COO</h4>
                    <ul class="team-social list-unstyled">
                        <li style="text-align: center;">
                            <i class="fa fa-envelope-o"></i><a style="color: rgb(16, 110, 22)"
                                href="mailto:mikesmith@dan-fisher.com">krishika@gmail.com</a>
                        </li>
                        <!-- <li style="text-align: center;">
                            <i class="fa fa-skype"></i><a href="#">mike_smith</a>
                        </li> -->
                    </ul>
                </header>
                <div class="team-excerpt">
                    <p style="color: rgb(16, 110, 22); margin: 30px; margin: 20px;">
                        Sister of Arjun Rajkumar, Krishika, a
                        vibrant, talented, and extraordinarily
                        skilled persona, graduated in Business
                        Administration, Diploma in Hotel
                        Management from Hotel Academy
                        Chennai and the house of Days inn. She
                        was credited for having an amazing

                        caliber in management and her hands-
                        on experience in the front office,

                        accounts, production, hospitality, and
                        housekeeping during her internship at
                        ITC Park Sheraton Towers Chennai was
                        unabashedly applauded. She pursued a
                        passion for making chocolates at home
                        and also did a workshop course in
                        chocolate manufacturing at SanFransico
                        USA. Perfection is her middle name, and
                        as thorough and skilled she likes to be in
                        whatever she persists, she decided to
                        carve her professional arc and has taken
                        courses in bakery and confectionery.
                        A successful entrepreneur with a restaurant, she was securing places and
                        marking her business aura before COVID. However, she still has her home
                        bakery unit in the banner of Kichees Delights. She is ably supported by her
                        husband, who is a Senior Manager at Bank of America by profession.
                        Coming from a family of successful go-getters, it’s obvious when you grow into
                        one. By seeing her parents, brother and uncles running a business, she’s learnt
                        quite a few tricks as well.
                        However, she learnt from her father that innovation is the key to success and
                        there is no compromise on quality.
                        Currently, she is responsible for the Back office and Administration of the
                        organisation.
                    </p>
                </div>
            </li>
            
            <!-- <li class="team-item col-md-3">
                <figure class="alignnone">
                    <a href="#"><img src="http://placehold.it/258x258" alt=""></a>
                </figure>
                <header class="team-head">
                    <span class="team-head-info">Export Manager</span>
                    <h4 class="team-name">Saravanan</h4>
                    <ul class="team-social list-unstyled">
                        <li>
                            <i class="fa fa-envelope-o"></i><a
                                href="mailto:hannadoe@dan-fisher.com">saravanan@gmail.com</a>
                        </li>
                        <li>
                            <i class="fa fa-skype"></i><a href="#">hanna_doe</a>
                        </li>
                    </ul>
                </header>
                <div class="team-excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi
                    malesuada vestibulum.
                </div>
            </li> -->
        </ul>

    </div>
</div>
</section>




</body>   
</html> 