{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slider</title>
  <style>
    @media only screen and (max-width: 1600px) {
img {
width: 100%;
}
}
  </style>
  <!-- <script>
    function myFunction(x) {
      if (x.matches) { // If media query matches
        document.body.img.backgroundColor = "yellow";
      } else {
       document.body.style.backgroundColor = "pink";
      }
    }
    
    var x = window.matchMedia("(max-width: 600px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
    </script> -->
    <script>
      $('.sl-slider').carousel({
      interval: 100
       });
    </script> 
 
  
</head>
<body>

  
	<!-- <a href="https://front.codes/" class="logo hover-target" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcb.png" alt="">
	</a> -->



  <!DOCTYPE html>
  <html>
  <head>
    <title>Responsive Product Card Slider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
      <link rel="stylesheet" href="../static/css/sliderstyle.css"> 
  </head>
  <body> 
    <section class="slider">
      <div>
        <img src="../static/images/products/Nivaran 90 cough syrup TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Animal</span> Paintings</h2>
          <p>$999.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
    
      <div>
        <img src="../static/images/products/MEMORY PLUS  60'S pack  TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Dolphine</span> Paintings</h2>
          <p>$699.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
    
       <div>
        <img src="../static/images/products/Nivaran 90 COOL COOL OIL  TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
         <!-- <div class="desc">
          <h2><span>Nature</span> Paintings</h2>
          <p>$589.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div> 
    
      <div>
        <img src="../static/images/products/MEMORY VITA  500 gm refill pack  TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Parachute</span> Paintings</h2>
          <p>$599.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
    
      <div>
        <img src="../static/images/products/NIVARAN 90 HONEY TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
      <div>
        <img src="../static/images/products/NIVARAN 90 KABASURA  200ml & 100ml Bottle  TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
      <div>
        <img src="../static/images/products/NIVARAN 90 LOZENGES   TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
      <div>
        <img src="../static/images/products/NIVARAN 90 NILAVEMBU 200ml Bottle   TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
      <div>
        <img src="../static/images/products/NIVARAN 90 PAIN OIL 8ml Bottle   TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
      <div>
        <img src="../static/images/products/NIVARAN 90 ANTACID  200ml & 100ml Bottle  TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
      <div>
        <img src="../static/images/products/VELVETTE HERBAL HAIR WASH CONT  TRANSFERANT IMAGE for test  340 & 510  Pixels.png">
        <!-- <div class="desc">
          <h2><span>Vehicle</span> Paintings</h2>
          <p>$939.99</p>
          <a href="#" class="btn">Add to Cart</a>
        </div> -->
      </div>
    </section> 
  <!-- <div class="credit">Made with <span style="color:#43cea2">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> 
  <script type="text/javascript" src="../static/js/slider.js"></script>
  </body>
  </html>
  

</body>
<!-- Auto Scroll Layout Sections from Will-Myers.com -->

</html>